
:root{
    /* Primary*/
    --veryDarkBlue:  hsl(233, 47%, 7%); /*main background*/
    --darkDesaturatedBlue: hsl(244, 38%, 16%);/*card background*/
    --softViolet: hsl(277, 64%, 61%); /*accent*/

    /* Neutral*/
    --white : hsl(0, 0%, 100%); /* main heading, stats*/
    --slightlyTransparent: hsla(0, 0%, 100%, 0.75);/*main paraghraph*/
    --slightlyTranspartentWihte: hsla(0, 0%, 100%, 0.6);/*stat headings*/
    }

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--veryDarkBlue);
    color: var(--white);
    font-size: 15px;
    font-family: 'Inter',sans-serif;
    font-weight: 400;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    width: 70vw;
    height: 55vh;
    background-color: var(--darkDesaturatedBlue);
    border-radius: 10px;
    overflow: hidden;
    display:grid;
    grid: auto / 50% 50%;
}

.content{

    width: 100%;
    height: 100%;
    padding:4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content__title{
    font-size: 20px;

}

.content__title span{
    color: var(--softViolet);
}

.content__subtitle{
    color: var(--slightlyTransparent);
}


.content__data{
    display: flex;
    justify-content: space-between;
}

.content__data span{
    color: var(--slightlyTranspartentWihte);
    text-transform:uppercase;
    font-family: 'Lexend Deca';
    font-size: .8rem;
}

.contenedor {
    background-image: url("../images/image-header-desktop.jpg");
    background-color: var(--softViolet);
    background-blend-mode:hard-light;
    background-size:cover;
    filter:opacity(45%);
  
}


.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }

/*
@media (max-width:375px)
 {
    .content{
        text-align: center;
        width: 85vw;
        height: 100%;
        grid: repeat(5, 1fr) / auto;
    }


    .content__data{
        height: auto;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
       
    }

}*/